.Links {
}

.Item {
    display: inline-flex;
    margin: 10px;
    vertical-align: top;
    width: 200px;
    background-color: rgb(255, 249, 241);
    border: 1px solid rgb(255, 223, 182);
    height: 80px;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    user-select: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 240, 220);
    }
}

.line {
    margin: 10px 0;
    background-color: rgb(255, 249, 241);
    height: 2px;
}
